doctype html

html(lang='en')

  head

    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
    title='Horizon Boilerplate'
    meta(name='description', content='Front-End Boilerplate is a starter kit that uses Gulp 4, Express.js, Webpack/Babel/ES6, SASS, PUG and foundation-sites framework')

  body

    style.
        .container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 900px;
            margin: 0 auto;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .simpleParallax {
            margin: 0 0 48px;
        }

    block content

        .container
            picture
                source(
                    media='(min-width: 769px)', 
                    srcset=('https://anakao-theme.com/simpleparallax/images/image03.jpg')
                )
                img.lazy(src='https://anakao-theme.com/simpleparallax/images/image03_mobile.jpg', width='768', height='768', alt='simpleParallax image')
            picture
                source(
                    media='(min-width: 769px)', 
                    srcset=('https://anakao-theme.com/simpleparallax/images/image04.jpg')
                )
                img.lazy(src='https://anakao-theme.com/simpleparallax/images/image04_mobile.jpg', width='768', height='768', alt='simpleParallax image')
            picture
                source(
                    media='(min-width: 769px)', 
                    srcset=('https://anakao-theme.com/simpleparallax/images/image03.jpg')
                )
                img.lazy(src='https://anakao-theme.com/simpleparallax/images/image03_mobile.jpg', width='768', height='768', alt='simpleParallax image')
            picture
                source(
                    media='(min-width: 769px)', 
                    srcset=('https://anakao-theme.com/simpleparallax/images/image04.jpg')
                )
                img.lazy(src='https://anakao-theme.com/simpleparallax/images/image04_mobile.jpg', width='768', height='768', alt='simpleParallax image')

    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='./simpleParallax.min.js')

    script.
        $(function(){
            $('img').simpleParallax();
            //- $('img:eq(0)').simpleParallax();
            //- $('img:eq(1)').simpleParallax();
            //- $('img:eq(2)').simpleParallax();
            //- $('img:eq(3)').simpleParallax();
            //- $('img:eq(4)').simpleParallax();
            //- $('img:eq(5)').simpleParallax();
            //- $('img:eq(6)').simpleParallax();
        });
        